<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>SessaoFilter</filter-name>
        <filter-class>com.allgreensolutions.sistema.controller.SessaoFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SessaoFilter</filter-name>
        <url-pattern>/login.jsp</url-pattern>
        <url-pattern>/paginas/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ValidarLogin</servlet-name>
        <servlet-class>com.allgreensolutions.sistema.controller.ValidarLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sair</servlet-name>
        <servlet-class>com.allgreensolutions.sistema.controller.SairServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemServlet</servlet-name>
        <servlet-class>com.allgreensolutions.sistema.controller.ItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Spring MVC Dispatcher Servlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/spring-context.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidarLogin</servlet-name>
        <url-pattern>/ValidarLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sair</servlet-name>
        <url-pattern>/Sair</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemServlet</servlet-name>
        <url-pattern>/Item/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Spring MVC Dispatcher Servlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <description>DataSource PostgreSQL</description>
        <res-ref-name>jdbc/dballgreenPOOL</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>
